//
   Created by Keiichi on 13/03/2017.

//
   Created by Keiichi on 11/03/2017.

extends layout
p hey boo
block content
    div.well
        h1 #{quote.model}
            h2 Price : #{quote.quote}
        br
        br
        a(href='/index') Overview
