extends layout

block content
  div(class='well')
    h1 "Search for Steve Jobs quotes"
    ul
      each quote in quotes
        li: quote.quote

  div(class='well')
    h1 All Cars
    ul
      each quote in quotes
        li: a(href='/cars/' + quote._id) #{quote.quote}

  div(class='well')
    a(href="/add")
      button(type="button") create new bootje