doctype html
html
  head
    title='Starter MEAN'
    link(rel='stylesheet', href='libs/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/style.css')
  body
    block content
